name: Deploy to Staging

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Deploy to Server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          port: ${{ secrets.SSH_PORT }}
          script: |
            export NEXT_ENV=${{ secrets.NEXT_ENV }}
            export NODE_ENV=${{ secrets.NODE_ENV }}
            
            cd ${{ secrets.REMOTE_PATH }}
            git pull origin main
            
            # Make the script executable
            chmod +x scripts/deploy.sh
            
            # Run the deployment script
            bash scripts/deploy.sh
