name: Deploy to Staging

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Deploy to Server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          port: ${{ secrets.SSH_PORT }}
          script: |
            export NEXT_ENV=${{ secrets.NEXT_ENV }}
            export NODE_ENV=${{ secrets.NODE_ENV }}
            
            # Create/Rewrite .env files from secrets
            echo "${{ secrets.BACKEND_ENV }}" > ${{ secrets.REMOTE_PATH }}/backend/.env
            echo "${{ secrets.FRONTEND_ENV }}" > ${{ secrets.REMOTE_PATH }}/frontend/.env
            
            # Fix for dubious ownership error
            git config --global --add safe.directory ${{ secrets.REMOTE_PATH }}
            
            cd ${{ secrets.REMOTE_PATH }}
            
            # Check if .git directory exists
            if [ -d ".git" ]; then
              echo "Repository exists. Resetting to match origin/main..."
              git fetch origin main
              git reset --hard origin/main
            else
              echo "Repository not found. Cloning..."
              git clone git@github.com:${{ github.repository }}.git .
            fi
            
            # Ensure we are on main
            git checkout main
            
            # Make the script executable
            chmod +x scripts/deploy.sh
            
            # Run the deployment script
            NODE_ENV=production bash scripts/deploy.sh
